.city_weather_container {
    height: fit-content;
    display: flex;
    margin: auto;
    flex-direction: column;
    row-gap: 0;
}

.city_weather_container h1, .city_weather_container h2 {
    text-align: center;
    margin: 0.3rem;
}

.city_weather_icon {
    width: 40%;
    margin: auto;
}