.city_weather_container {
    padding: 5rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 15%;
    row-gap: 0;
}

.city_weather_container h1, .city_weather_container h2 {
    text-align: center;
    margin: 0.3rem;
}

.city_weather_icon {
    width: 50%;
    margin: auto;
}