html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: #3a3a3a;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

.App {
    margin:0;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.CitiesList {
    display: flex;
    column-gap: normal;
    flex-wrap: wrap;
    overflow-y: auto;
}

.AppDark {
    background: #1a1a1a;
}
.AppDark h1, .AppDark h2 {
    color: #ffffff;
}