html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: #3a3a3a;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

.App {
    margin:0;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.CitiesList {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
.CityWeatherContainer {
    height: fit-content;
    min-width: 5rem;
    max-width: fit-content;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-items: center;
    row-gap: 0;
    background: #2a2a2a;
    border-radius: .3rem;
    padding: 1rem;
    transition: .5s;
}
.CityWeatherContainer:hover {
    background-color: #3a3aaf;
}
.RemoveCityWeatherButton {
    align-self: flex-end;
    color: white;
    background: transparent;
    border: 0;
    padding: .4rem;
    font-weight: bold;
    transition-duration: .5s;
}
.RemoveCityWeatherButton:hover {
    background-color: #4a4aaf;
}

.AppDark {
    background: #1a1a1a;
}
.AppDark h1, .AppDark h2 {
    color: #ffffff;
}